.build/
.swiftpm/
*.xcodeproj
.DS_Store
.testroot/
build/
dist/
Platforms/Android/.gradle/
Platforms/Android/.kotlin/
Platforms/Android/build/
Platforms/Android/app/build/
Platforms/Android/release-key.jks
*.provisionprofile
*.mobileprovision
.syncnexus-endpoint


# AppleDouble files created by exFAT/FAT volumes
._*
